#ignore spacy tmp. model
redact.spacy

#ignore temp. model dir
/redact_model

#ignore festering of logs in git repo.
logs-*?*.txt

#ignore windows sys./env files
Thumbs.db
Desktop.ini
.env

#ignore mac-os/linux sys. files
.DS_Store
.env

#ignore vim swaps/backups
*.swp
*.swo
*.bak
*~

#ignore tempos/cache/configs
/tmp/
/var/tmp/
.cache/
.config/
